<div>
  <h2>User info: </h2>
  <div>
    {{ data.name }}
  </div>
  <div class="text-italic">
    {{ data.count }}
  </div>
  <div class="text-italic">
    {{ data.id }}
  </div>
  <div>
    <h3>Content for you</h3>
  </div>
  <div>
    {{ data.node }}
  </div>

</div>
